  <header>
    <object class="banner1-animated" type="image/svg+xml" data="/img/banner1-animated.svg" width="100%" height="50"></object>
    <object class="banner1-static" type="image/svg+xml" data="/img/banner1-static.svg" width="100%" height="50"></object>
    <h1>Nеск1нченний запит</h1>
    <p style="color: #808080;">Віртуальна оселька українського універсального спеціаліста</p>
    <nav>
      <p><img class="icon" src="/img/icon-clock.svg" alt="">&nbsp;<a href="/">Журнал змін</a></p>
      <p><img class="icon" src="/img/icon-cabinet.svg" alt="">&nbsp;<a href="/notatky/">Нотатки</a></p>
      <p><img class="icon" src="/img/icon-bookmarks.svg" alt="">&nbsp;<a href="/vpodobane/">Вподобане</a></p>
    </nav>
  </header>