  <header>
    <object class="banner1-animated" type="image/svg+xml" data="/img/banner1-animated.svg" width="100%" height="50"></object>
    <object class="banner1-static" type="image/svg+xml" data="/img/banner1-static.svg" width="100%" height="50"></object>
    <h1>n1n1n.com</h1>
    <p style="color: #808080;">Віртуальна оселька універсального спеціаліста</p>
    <nav>
      <p class="item"><img class="icon" src="/img/icon-phosphor-16x16-clipboard.svg" alt="">&nbsp;<a href="/">Журнал змін</a></p>
      <p class="item"><img class="icon" src="/img/icon-phosphor-16x16-cabinet.svg" alt="">&nbsp;<a href="/notatky/">Нотатки</a></p>
      <p class="item"><img class="icon" src="/img/icon-phosphor-16x16-globe.svg" alt="">&nbsp;<a href="/vpodobane/">Вподобане</a></p>
      <p class="item"><img class="icon" src="/img/icon-phosphor-16x16-desk.svg" alt="">&nbsp;<a href="/uzhyvane/">Уживане</a></p>
    </nav>
  </header>