<!doctype html>
<html lang="uk">

<head>

  <meta charset="UTF-8">
 
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>n1n1n - {{ page.title }}</title>
 
  <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
 
  <link rel="stylesheet" href="/css/styles.css">
  
  <!-- Приховувати для інших сайтів, що відвідувач прийшов з n1n1n.com -->
  <meta name="referrer" content="no-referrer">

  <!-- Open Graph для превью в соцмережах і месенджерах -->
  <meta property="og:title" content="n1n1n.com">
  <meta property="og:description" content="Віртуальна оселька українського універсального спеціаліста">
<meta property="og:url" content="https://n1n1n.com/">
<meta property="og:type" content="website">

  <!-- Колір для елементів інтерфейсу навколо контенту -->
  <meta name="theme-color" content="#f0f0f0">

</head>

<body>

  {% include header.html %}

  <hr>

  <main>

    {{ content }}

  </main>

  <hr>

  {% include footer.html %}

</body>

</html>